/* TODO Add site wide styles */
html,
body,
form,
ul,
label,
input,
button {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 10;
}

label {
    font-size: 20px;
}

button {
    border: 1px solid #CCC;
    box-sizing: border-box;
    cursor: pointer;
    padding: .5em 10em;

    background: rgb(255, 56, 92);

    transition: background-color .50s, color .50s;

    /* font */
    font-weight: 400;
    color: white;

    /* border */
    border: 0;
    border-radius: 8px;
    height: 50px;
    width: 25%;

}

input {

    box-sizing: border-box;
    display: block;
    padding: .5em 10em;

    /* border */
    border: 1px solid #CCC;
    border-radius: 8px;
    height: 50px;
    width: 25%;

}


/* element.style {
    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
    --mouse-x: 71.0891;
    --mouse-y: 89.5508;
}
._kaq6tx {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 200px !important;
    background-size: 200% 200% !important;
    opacity: 0 !important;
    transition: opacity 1.25s ease 0s !important;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
}
._6hkhatt {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    touch-action: manipulation !important;
    font-family: var(--e-ls-qkw) !important;
    font-size: var(--iw-ehf-f) !important;
    line-height: var(---s-l-myu) !important;
    font-weight: var(--jx-zk-pv) !important;
    border-radius: var(--go-h-jh-l) !important;
    outline: none !important;
    padding: 14px 24px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none !important;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: rgb(255, 255, 255) !important;
    width: 100% !important;
}
input, textarea, select, button, a {
    font-family: inherit;
    font-size: 100%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
user agent stylesheet
button {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}
._1b64dznw {
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    background: rgb(255, 255, 255) !important;
    overflow: clip !important;
    position: relative !important;
    width: 100vw !important;
    max-width: 100vw !important;
    max-height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    animation-duration: 400ms !important;
    animation-iteration-count: 1 !important;
    animation-fill-mode: both !important;
    animation-name: keyframe_d37zz3 !important;
}
._vxvq8x {
    -webkit-box-pack: center !important;
    -webkit-box-align: end !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    z-index: 2000 !important;
    position: fixed !important;
    inset: 0px !important;
    max-height: calc(var(--vh, 1vh) * 100) !important;
    padding-top: calc(12px + env(safe-area-inset-top, 0)) !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    justify-content: center !important;
}
style attribute {
    position: fixed;
    overflow: hidden;
    inset: 0px;
    inset-inline-end: 0px;
    --scrollbar-gutter: 0px;
}
body {
    line-break: strict;
}
body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
style attribute {
    --vh: 4.93px;
    --vw: 14.4px;
    --vw-unitless: 1440;
    --vw-px: 1440px;
    min-height: calc(var(--vh, 1vh) * 100);
    scrollbar-gutter: auto;
}
:root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0,0,0,0.28);
    --g-r-n-ycy: 1px solid rgba(0,0,0,0.04);
    --ih-jiz-p: 0 6px 20px rgba(0,0,0,0.2);
    --cglwe-y: 1px solid rgba(0,0,0,0.04);
    --cizosd: 0 6px 16px rgba(0,0,0,0.12);
    --cb-k-zk-c: 1px solid rgba(0,0,0,0.04);
    --e-swdx-p: 0 2px 4px rgba(0,0,0,0.18);
    --g-fi-y-r-e: 1px solid rgba(0,0,0,0.08);
    --itr-yy-z: cubic-bezier(0.2,0,0,1);
    --c-wky-h-p: 1px;
    --hzee-ha: 175px;
    --gracgr: 26px;
    --e-usyia: cubic-bezier(0.1,0.9,0.2,1);
    --hb-n-kc-m: 1px;
    --ikro-f: 300px;
    --h-m-d-zo-y: 35px;
    --f-w-xhiy: cubic-bezier(0.4,0,1,1);
    ---sof-io: 1px;
    --cll-sox: 300px;
    --kf-r-nu-y: 35px;
    --inwig-v: 1px;
    --ien-u-go: 250px;
    --d-kmbxx: 22px;
    --j-cm-lxz: cubic-bezier(0,0,1,1);
    --f-ya-ggj: cubic-bezier(1,0,0.86,1);
    --bd-d-m-c-q: cubic-bezier(0,0,0.1,1);
    ---bz-mmq: cubic-bezier(0.35,0,0.65,1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #B0B0B0;
    --j-qkgmf: #DDDDDD;
    --d-nc-lt-s: #EBEBEB;
    ---pc-g-v-g: #F7F7F7;
    --f-mkcy-f: #FFFFFF;
    --k-va-tnc: #C13515;
    --cnr-vp-o: #B32505;
    --f-p-k-v-lb: #FFF8F6;
    --fhi-qn-u: #E07912;
    --k-ff-my-a: #008A05;
    --ldbkp-d: #428BFF;
    --ihf-tp-q: #FF385C;
    --cl-yygv: #E00B41;
    --kd-lqtg: #92174D;
    --d-u-w-o-m-k: #460479;
Show All Properties (52 more)
}
:root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0,0,0,0.28);
    --g-r-n-ycy: 1px solid rgba(0,0,0,0.04);
    --ih-jiz-p: 0 6px 20px rgba(0,0,0,0.2);
    --cglwe-y: 1px solid rgba(0,0,0,0.04);
    --cizosd: 0 6px 16px rgba(0,0,0,0.12);
    --cb-k-zk-c: 1px solid rgba(0,0,0,0.04);
    --e-swdx-p: 0 2px 4px rgba(0,0,0,0.18);
    --g-fi-y-r-e: 1px solid rgba(0,0,0,0.08);
    --itr-yy-z: cubic-bezier(0.2,0,0,1);
    --c-wky-h-p: 1px;
    --hzee-ha: 175px;
    --gracgr: 26px;
    --e-usyia: cubic-bezier(0.1,0.9,0.2,1);
    --hb-n-kc-m: 1px;
    --ikro-f: 300px;
    --h-m-d-zo-y: 35px;
    --f-w-xhiy: cubic-bezier(0.4,0,1,1);
    ---sof-io: 1px;
    --cll-sox: 300px;
    --kf-r-nu-y: 35px;
    --inwig-v: 1px;
    --ien-u-go: 250px;
    --d-kmbxx: 22px;
    --j-cm-lxz: cubic-bezier(0,0,1,1);
    --f-ya-ggj: cubic-bezier(1,0,0.86,1);
    --bd-d-m-c-q: cubic-bezier(0,0,0.1,1);
    ---bz-mmq: cubic-bezier(0.35,0,0.65,1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #B0B0B0;
    --j-qkgmf: #DDDDDD;
    --d-nc-lt-s: #EBEBEB;
    ---pc-g-v-g: #F7F7F7;
    --f-mkcy-f: #FFFFFF;
    --k-va-tnc: #C13515;
    --cnr-vp-o: #B32505;
    --f-p-k-v-lb: #FFF8F6;
    --fhi-qn-u: #E07912;
    --k-ff-my-a: #008A05;
    --ldbkp-d: #428BFF;
    --ihf-tp-q: #FF385C;
    --cl-yygv: #E00B41;
    --kd-lqtg: #92174D;
    --d-u-w-o-m-k: #460479;
Show All Properties (52 more)
}
:root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0,0,0,0.28);
    --g-r-n-ycy: 1px solid rgba(0,0,0,0.04);
    --ih-jiz-p: 0 6px 20px rgba(0,0,0,0.2);
    --cglwe-y: 1px solid rgba(0,0,0,0.04);
    --cizosd: 0 6px 16px rgba(0,0,0,0.12);
    --cb-k-zk-c: 1px solid rgba(0,0,0,0.04);
    --e-swdx-p: 0 2px 4px rgba(0,0,0,0.18);
    --g-fi-y-r-e: 1px solid rgba(0,0,0,0.08);
    --itr-yy-z: cubic-bezier(0.2,0,0,1);
    --c-wky-h-p: 1px;
    --hzee-ha: 175px;
    --gracgr: 26px;
    --e-usyia: cubic-bezier(0.1,0.9,0.2,1);
    --hb-n-kc-m: 1px;
    --ikro-f: 300px;
    --h-m-d-zo-y: 35px;
    --f-w-xhiy: cubic-bezier(0.4,0,1,1);
    ---sof-io: 1px;
    --cll-sox: 300px;
    --kf-r-nu-y: 35px;
    --inwig-v: 1px;
    --ien-u-go: 250px;
    --d-kmbxx: 22px;
    --j-cm-lxz: cubic-bezier(0,0,1,1);
    --f-ya-ggj: cubic-bezier(1,0,0.86,1);
    --bd-d-m-c-q: cubic-bezier(0,0,0.1,1);
    ---bz-mmq: cubic-bezier(0.35,0,0.65,1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #B0B0B0;
    --j-qkgmf: #DDDDDD;
    --d-nc-lt-s: #EBEBEB;
    ---pc-g-v-g: #F7F7F7;
    --f-mkcy-f: #FFFFFF;
    --k-va-tnc: #C13515;
    --cnr-vp-o: #B32505;
    --f-p-k-v-lb: #FFF8F6;
    --fhi-qn-u: #E07912;
    --k-ff-my-a: #008A05;
    --ldbkp-d: #428BFF;
    --ihf-tp-q: #FF385C;
    --cl-yygv: #E00B41;
    --kd-lqtg: #92174D;
    --d-u-w-o-m-k: #460479;
Show All Properties (52 more)
}
:root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0,0,0,0.28);
    --g-r-n-ycy: 1px solid rgba(0,0,0,0.04);
    --ih-jiz-p: 0 6px 20px rgba(0,0,0,0.2);
    --cglwe-y: 1px solid rgba(0,0,0,0.04);
    --cizosd: 0 6px 16px rgba(0,0,0,0.12);
    --cb-k-zk-c: 1px solid rgba(0,0,0,0.04);
    --e-swdx-p: 0 2px 4px rgba(0,0,0,0.18);
    --g-fi-y-r-e: 1px solid rgba(0,0,0,0.08);
    --itr-yy-z: cubic-bezier(0.2,0,0,1);
    --c-wky-h-p: 1px;
    --hzee-ha: 175px;
    --gracgr: 26px;
    --e-usyia: cubic-bezier(0.1,0.9,0.2,1);
    --hb-n-kc-m: 1px;
    --ikro-f: 300px;
    --h-m-d-zo-y: 35px;
    --f-w-xhiy: cubic-bezier(0.4,0,1,1);
    ---sof-io: 1px;
    --cll-sox: 300px;
    --kf-r-nu-y: 35px;
    --inwig-v: 1px;
    --ien-u-go: 250px;
    --d-kmbxx: 22px;
    --j-cm-lxz: cubic-bezier(0,0,1,1);
    --f-ya-ggj: cubic-bezier(1,0,0.86,1);
    --bd-d-m-c-q: cubic-bezier(0,0,0.1,1);
    ---bz-mmq: cubic-bezier(0.35,0,0.65,1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #B0B0B0;
    --j-qkgmf: #DDDDDD;
    --d-nc-lt-s: #EBEBEB;
    ---pc-g-v-g: #F7F7F7;
    --f-mkcy-f: #FFFFFF;
    --k-va-tnc: #C13515;
    --cnr-vp-o: #B32505;
    --f-p-k-v-lb: #FFF8F6;
    --fhi-qn-u: #E07912;
    --k-ff-my-a: #008A05;
    --ldbkp-d: #428BFF;
    --ihf-tp-q: #FF385C;
    --cl-yygv: #E00B41;
    --kd-lqtg: #92174D;
    --d-u-w-o-m-k: #460479;
Show All Properties (52 more)
}
html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
} */
