.spot-component {
    color: white;
}

.spot-route {
    color: white;
}

.spot-thumbnail {
    width: 270.83px;
    height: 257.28px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}

.spot-details-title {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header .";
}

.spot-city-country {
    white-space: nowrap;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.spot-rating {
    text-align: right;
    font-size: 12px;
}

.display-none {
    display: none;
}


.spot-city-country {
    color: black;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 2px;
    font-family: inherit;
}

.spot-description {
    color: silver;
    font-family: inherit;
}

.spot-price {
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: inherit;
}
