.spot-page-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}


.spot-page-container {
    color: white;
    background-color: red;
}


.spot-image-main {
    width: 560px;
    height: 368px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}

.spot-address {
    color: black;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 2px;
    font-family: inherit;
}

.spot-description {
    color: silver;
    font-family: inherit;
}

.spot-price {
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: inherit;
}
