.spot-page-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    margin-top: 16px;
    width: 1120px;
    /* margin-right: 312.50px;
    margin-left: 312.50px; */

    margin-right: 200px;
    margin-left: 200px;
    color: black;
    background-color: pink;
}

h1.spot-title {
    font-size: 26px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.spot-subtitle {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 6fr 1fr;
    grid-gap: 20px;
    margin-top: 4px;
    background-color: pink;
}

.spot-subtitle-rating {
    font-size: 15px;
    font-family: monospace;
    width: 6ch;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    color: black;
}

.spot-subtitle-reviews,
.spot-address {
    color: black;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 2px;
    font-family: inherit;
}

.spot-actions {
    background-color: white;
    text-align: right;
}

.spot-image-divider {
    justify-content: space-between;
}

.spot-image-divider-left,
.spot-image-main {
    padding-top: 24px;
    width: 560px;
    height: 368px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    justify-content: start;
    align-content: start;
}

.spot-image-divider-right {
    display: grid;
    grid-template-columns: 272px 272px;
    grid-template-rows: 225.59px 225.59px;
    grid-gap: 14px;
    /* grid-template-areas:
    "middle right"
    "middle right"; */
    justify-content: end;
    align-content: end;
}

.spot-image-secondary,
.spot-image-third,
.spot-image-fourth,
.spot-image-fifth {
    width: 272px;
    height: 225.59px;
    padding: 4px;
}



.spot-description {
    color: silver;
    font-family: inherit;
}

.spot-price {
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: inherit;
}
