.spot-page-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    margin-top: 16px;
    width: 1120px;
    /* margin-right: 312.50px;
    margin-left: 312.50px; */

    margin-right: 200px;
    margin-left: 200px;
    color: black;

}

.spot-title {
    font-size: 26px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.spot-subtitle {
    display: grid;
    grid-template-columns: 1fr .5fr 20fr 50fr;
    grid-gap: 20px;
    /* background-color: pink; */
    border-top: 10px;

}

.spot-subtitle-rating {
    font-size: 15px;
    font-family: monospace;
    width: 6ch;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    color: black;
}

.spot-subtitle-reviews,
.spot-address {
    color: black;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 2px;
    font-family: inherit;
    font-size: 14px;
}

.spot-actions {
    background-color: white;
    text-align: right;
}

.spot-image-divider {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 272px 272px;
}

.spot-image-divider-left,
.spot-image-main {
    width: 560px;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    justify-content: start;
    align-content: start;

    overflow: hidden;
    object-fit: cover;
}

.spot-image-divider-right {
    display: grid;
    grid-template-columns: 272px 272px;
    grid-template-rows: 220px 220px;
    grid-gap: 10px;
    /* grid-template-areas:
    "middle right"
    "middle right"; */
    justify-content: end;
    align-content: end;
}

.spot-image-secondary {
    width: 272px;
    height: 220px;
    overflow: hidden;
    object-fit: cover;
    padding-left: 4px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.spot-image-fourth {
    width: 272px;
    height: 220px;
    overflow: hidden;
    object-fit: cover;
    padding-left: 4px;
    padding-right: 2px;
    /* padding-top: 1px; */

}

.spot-image-third {
    width: 272px;
    height: 220px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0px 15px 0px 0px;
    padding-bottom: 2px;
    padding-left: 4px;
}

.spot-image-fifth {
    width: 272px;
    height: 220px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0px 0px 15px 0px;
    /* padding-top: 1px; */
    padding-left: 4px;
}

.spot-description {
    color: silver;
    font-family: inherit;
}

.spot-price {
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: inherit;
}


.review-page-container {
    display: grid;

}

.spot-page-details {
    /* background: red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.spot-page-details-right {
    padding-top: 20px;
    width: 450px;

}

.spot-page-details-left {
    padding-top: 20px;
        padding-right: 100px;

}

.spot-greeting {
    font-size: 20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: black;

}


.spot-timestamp {
    font-size: 10px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: gray;
}

.spot-timestamp,
.spot-greeting {
    padding-right: 20px;
}



.spot-owner-action-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spot-errors {
    font-size: 14px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: black;
    text-align: left;
    padding-left: 20px;
}
