.edit-spot-container {
    /* border: dotted 1px black; */
    /* border-radius: 8px; */
    right: 0;
    top: 1000;
    border-radius: 21px;
    padding: 5px 5px 5px 12px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #CCC;
    background-color: white;
    
}
