html {
    background-color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

form {
    width: 450px;
    height: 100%;
}



.user-action-dropdown {
    border: 0;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    background-color: white;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: -1px -1px 5px 1px #c6c0c0;
}

.dropdown-text {
    font-size: 16px;
    font-weight: 10;
}

button.profile {
    box-sizing: border-box;
    cursor: pointer;
    /* padding: .5em 10em; */

    background: white;

    transition: background-color .50s, color .50s;

    /* font */
    font-weight: 400;
    color: black;
    font-size: 16px;
    font-weight: 10;

    /* border */
    border: 0;
    height: 40px;
    width: 200px;

    text-align: left;
}

hr {
    width: 100%;
}


.profile-icon {
    width: 77px;
    height: 42px;
    border-radius: 21px;
    padding: 5px 5px 5px 12px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #CCC;
    background-color: white;
}



.fa-regular {
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.spot-component {
    color: white;
}


.spot-thumbnail {
    width: 270.83px;
    height: 257.28px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}

.spot-address {
    color: black;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 2px;
    font-family: inherit;
}

.spot-description {
    color: silver;
    font-family: inherit;
}

.spot-price {
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: inherit;
}
