

.current-page-title {
    font-size: 26px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    padding-top: 100px;
    text-align: center;

    color: black;
}

.current-page-menu {
    padding-top: 20px;
    display: grid;
    justify-content: center;
}

.current-page-create-spot {
    /* padding-left: 200px; */
    /* align-items: center; */
    border: dotted 1px black;
    cursor: pointer;
    text-align: center;
    /* background-color: red; */
    width: 160px;
    height: 40px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}

.current-page-grid {
    padding-top: 10px;
}

.or-div {
    text-align: center;
}
