html,
body,
form,
ul,
label,
input,
button {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 10;
}

label {
    font-size: 20px;
}

button {
    border: 1px solid #CCC;
    box-sizing: border-box;
    cursor: pointer;
    padding: .5em 10em;

    background: rgb(255, 56, 92);

    transition: background-color .50s, color .50s;

    /* font */
    font-weight: 400;
    color: white;

    /* border */
    border: 0;
    border-radius: 8px;
    height: 50px;
    width: 25%;

}

input {

    box-sizing: border-box;
    display: block;
    padding: .5em 10em;

    /* border */
    border: 1px solid #CCC;
    border-radius: 8px;
    height: 50px;
    width: 25%;
}


/* if (sessionUser) return <Redirect to="/" />; */
