.submit {
    border: 1px solid #CCC;
    box-sizing: border-box;
    cursor: pointer;
    padding: .5em 10em;

    background: rgb(255, 56, 92);

    transition: background-color .50s, color .50s;

    /* font */
    font-weight: 400;
    color: white;

    /* border */
    border: 0;
    border-radius: 8px;
    height: 50px;
    width: 25%;

    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 10;


}

.profile-input {

    box-sizing: border-box;
    display: block;
    padding: .5em 1em;
    border: 1px solid #CCC;
    border-radius: 8px;
    height: 50px;
    width: 90%;
    margin: 20px;
    font-size: 16px;
    font-weight: 10;

}

.welcome-header {
    text-align: left;
    font-size: 20px;
    font-weight: 10;
    margin-left: 25px;
    margin-top: 25px;
}

